@import "tailwindcss";

/* Reset margins and paddings */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; /* Ensure full width */
}

#root {
  height: 100%;
  width: 100%; /* Ensure the root div spans the full screen */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a202c; /* Matches Tailwind's bg-gray-900 for consistency */
}
